In [1]:
import polars as pl
import pandas as pd
import numpy as np

In [2]:
df11 = pl.scan_csv('38430-0001-Data.tsv',separator='\t',dtypes={"IDHH": pl.Categorical,"IDPER": pl.Categorical},ignore_errors = True)
result_df = df11.collect()
df_1 = result_df

In [3]:
len(df_1)

3932046

In [4]:
df_1['YEAR'].dtype

Int64

In [5]:
final_df=df_1.filter(df_1['YEAR'].is_in([2019,2021]))

In [6]:
final_df

shape: (510_394, 226)
┌──────┬────────┬────────────┬───────────┬───┬───────────────┬───────────────┬───────────┬───────┐
│ YEAR ┆ YEARQ  ┆ YEARQ_ORIG ┆ YEAR_ORIG ┆ … ┆ TYPEINTV_TIS6 ┆ TYPEINTV_TIS7 ┆ HHBOUNDED ┆ VFLAG │
│ ---  ┆ ---    ┆ ---        ┆ ---       ┆   ┆ ---           ┆ ---           ┆ ---       ┆ ---   │
│ i64  ┆ f64    ┆ i64        ┆ i64       ┆   ┆ i64           ┆ i64           ┆ i64       ┆ i64   │
╞══════╪════════╪════════════╪═══════════╪═══╪═══════════════╪═══════════════╪═══════════╪═══════╡
│ 2019 ┆ 2019.1 ┆ 9999       ┆ 9999      ┆ … ┆ 9             ┆ 9             ┆ 0         ┆ 9     │
│ 2019 ┆ 2019.1 ┆ 9999       ┆ 9999      ┆ … ┆ 9             ┆ 9             ┆ 0         ┆ 9     │
│ 2019 ┆ 2019.1 ┆ 9999       ┆ 9999      ┆ … ┆ 9             ┆ 9             ┆ 1         ┆ 9     │
│ 2019 ┆ 2019.1 ┆ 9999       ┆ 9999      ┆ … ┆ 9             ┆ 9             ┆ 1         ┆ 1     │
│ …    ┆ …      ┆ …          ┆ …         ┆ … ┆ …             ┆ …             ┆ …         ┆ …     │
│ 2021 ┆ 2021.4 ┆ 9999       ┆ 9999      ┆ … ┆ 9             ┆ 9             ┆ 0         ┆ 9     │
│ 2021 ┆ 2021.4 ┆ 9999       ┆ 9999      ┆ … ┆ 9             ┆ 9             ┆ 0         ┆ 9     │
│ 2021 ┆ 2021.4 ┆ 9999       ┆ 9999      ┆ … ┆ 9             ┆ 9             ┆ 1         ┆ 1     │
│ 2021 ┆ 2021.4 ┆ 9999       ┆ 9999      ┆ … ┆ 9             ┆ 9             ┆ 1         ┆ 9     │
└──────┴────────┴────────────┴───────────┴───┴───────────────┴───────────────┴───────────┴───────┘

In [7]:
#Converting to pandas as it is a smaller dataframe
final_df = final_df.to_pandas()

## Removing Columns

In [8]:
#Removing columns with a single entry
for a in final_df.columns:
    unique_vals = final_df[a].unique()

    if len(unique_vals) == 1:
        final_df = final_df.drop(a,axis=1)

print(final_df)

        YEAR   YEARQ                       IDHH  V2002  V2003  V2004  \
0       2019  2019.1  1602000258133680568236117      2    191     16
1       2019  2019.1  1602000258163682568236111      2    191     16
2       2019  2019.1  1602000258359426568236117      2    191     16
3       2019  2019.1  1602000258683621568236111      2    191     16
4       2019  2019.1  1602000265134680568236117      2    191     16
...      ...     ...                        ...    ...    ...    ...
510389  2021  2021.4  2095986865027937564558151  64192    214     20
510390  2021  2021.4  2095986865192721564558142  64193    214     20
510391  2021  2021.4  2095986865412780564558142  64194    214     20
510392  2021  2021.4  2095986865413466564558161  64195    214     20
510393  2021  2021.4  2095986865415313564558141  64196    214     20

               V2005  V2006  V2008  V2010  ...  HHINTVNUM  TYPEINTV_TIS1  \
0       2.000258e+18      1     17      9  ...          0              2
1       2.000258e+18      1     11      9  ...          1              2
2       2.000258e+18      1     17      9  ...          2              1
3       2.000259e+18      1     11      1  ...          4              1
4       2.000265e+18      1     17      1  ...          3              2
...              ...    ...    ...    ...  ...        ...            ...
510389           NaN      1     51      9  ...          0              2
510390           NaN      1     42      9  ...          0              2
510391           NaN      1     42      9  ...          0              2
510392           NaN      1     61      1  ...          2              1
510393           NaN      1     41      9  ...          1              1

        TYPEINTV_TIS2  TYPEINTV_TIS3  TYPEINTV_TIS4  TYPEINTV_TIS5  \
0                   2              2              2              3
1                   1              2              2              9
2                   2              2              1              2
3                   1              1              1              9
4                   2              1              1              1
...               ...            ...            ...            ...
510389              2              9              9              9
510390              9              9              9              9
510391              9              9              9              9
510392              1              9              9              9
510393              2              9              9              9

        TYPEINTV_TIS6  TYPEINTV_TIS7  HHBOUNDED  VFLAG
0                   9              9          0      9
1                   9              9          0      9
2                   9              9          1      9
3                   9              9          1      1
4                   9              9          1      1
...               ...            ...        ...    ...
510389              9              9          0      9
510390              9              9          0      9
510391              9              9          0      9
510392              9              9          1      1
510393              9              9          1      9

[510394 rows x 130 columns]

In [9]:
#Removing columns with missing percentage greater than 50%
for c in final_df:
    if str(max(final_df[c])).endswith('9'):
        miss_perc = np.sum(final_df[c] == max(final_df[c])) / len(final_df[c])
        if miss_perc > 0.5:
            final_df = final_df.drop(c,axis=1)
print(final_df)

        YEAR   YEARQ                       IDHH  V2002  V2003  V2004  \
0       2019  2019.1  1602000258133680568236117      2    191     16
1       2019  2019.1  1602000258163682568236111      2    191     16
2       2019  2019.1  1602000258359426568236117      2    191     16
3       2019  2019.1  1602000258683621568236111      2    191     16
4       2019  2019.1  1602000265134680568236117      2    191     16
...      ...     ...                        ...    ...    ...    ...
510389  2021  2021.4  2095986865027937564558151  64192    214     20
510390  2021  2021.4  2095986865192721564558142  64193    214     20
510391  2021  2021.4  2095986865412780564558142  64194    214     20
510392  2021  2021.4  2095986865413466564558161  64195    214     20
510393  2021  2021.4  2095986865415313564558141  64196    214     20

               V2005  V2006  V2008  V2010  ...  TIS  ADDR_TIS  HH_TIS  \
0       2.000258e+18      1     17      9  ...    5         5       5
1       2.000258e+18      1     11      9  ...    4         4       4
2       2.000258e+18      1     17      9  ...    5         5       5
3       2.000259e+18      1     11      1  ...    4         4       4
4       2.000265e+18      1     17      1  ...    5         5       5
...              ...    ...    ...    ...  ...  ...       ...     ...
510389           NaN      1     51      9  ...    2         2       2
510390           NaN      1     42      9  ...    1         1       1
510391           NaN      1     42      9  ...    1         1       1
510392           NaN      1     61      1  ...    2         2       2
510393           NaN      1     41      9  ...    2         2       2

        HHINTVNUM  TYPEINTV_TIS1  TYPEINTV_TIS2  TYPEINTV_TIS3  TYPEINTV_TIS4  \
0               0              2              2              2              2
1               1              2              1              2              2
2               2              1              2              2              1
3               4              1              1              1              1
4               3              2              2              1              1
...           ...            ...            ...            ...            ...
510389          0              2              2              9              9
510390          0              2              9              9              9
510391          0              2              9              9              9
510392          2              1              1              9              9
510393          1              1              2              9              9

        HHBOUNDED  VFLAG
0               0      9
1               0      9
2               1      9
3               1      1
4               1      1
...           ...    ...
510389          0      9
510390          0      9
510391          0      9
510392          1      1
510393          1      9

[510394 rows x 94 columns]

In [10]:
final_df.columns

Index(['YEAR', 'YEARQ', 'IDHH', 'V2002', 'V2003', 'V2004', 'V2005', 'V2006',
       'V2008', 'V2010', 'V2011', 'V2012', 'V2013', 'V2014', 'V2015', 'V2016',
       'V2017', 'V2143', 'V2019', 'V2020', 'V2021', 'V2022', 'V2023', 'V2024',
       'V2025A', 'V2025B', 'V2026', 'SC214A', 'V2030', 'V2032', 'V2033',
       'V2034', 'V2035', 'V2036', 'V2038', 'V2040A', 'V2041', 'V2042', 'V2043',
       'V2044', 'V2045', 'V2047', 'V2049A', 'V2050', 'V2071', 'V2072',
       'V2072A', 'V2073', 'V2074', 'V2076', 'V2078', 'V2079', 'V2109', 'V2111',
       'V2112', 'V2113', 'V2114', 'V2116', 'WGTHHCY', 'V2117', 'V2118',
       'V2119', 'V2121B', 'V2122', 'V2123', 'V2124', 'V2125', 'V2126B',
       'V2127B', 'V2128B', 'V2129', 'V2130', 'V2131', 'V2132', 'V2133',
       'V2134', 'V2135', 'V2136', 'V2137', 'V2138', 'V2139', 'V2140', 'V2141',
       'V2142', 'TIS', 'ADDR_TIS', 'HH_TIS', 'HHINTVNUM', 'TYPEINTV_TIS1',
       'TYPEINTV_TIS2', 'TYPEINTV_TIS3', 'TYPEINTV_TIS4', 'HHBOUNDED',
       'VFLAG'],
      dtype='object')

In [11]:
pd.DataFrame(final_df.columns).to_csv("final_df_columns.csv")

In [12]:
#Recoding Household number as Original - 1 or Replacement - 2
final_df.loc[final_df['V2006']>=2,'V2006']=2
final_df['V2006'].value_counts()

V2006
1    455136
2     55258
Name: count, dtype: int64

In [13]:
#Recoding Tenure as Owned - 1 or Rented - 2
final_df.loc[(final_df['V2015']==2) | (final_df['V2015']==3),'V2015']=2
final_df['V2015'].value_counts()

V2015
1    206075
9    205180
2     99139
Name: count, dtype: int64

In [14]:
#Combining blanks and residue as one entry in Farm Sales
final_df.loc[(final_df['V2019']==7) | (final_df['V2019']==8),'V2019']=8
final_df['V2019'].value_counts()

V2019
8    395469
2    104645
1      5407
9      4873
Name: count, dtype: int64

In [15]:
#Combining several types of housing
#hotel(2) - 2,3,9 
#mobile home(3) - 5,6,10
#quarters/dorms(4) - 4,8,11
#residue(98) - 7,12,98
final_df.loc[(final_df['V2021']==2) | (final_df['V2021']==3) | (final_df['V2021']==9),'V2021']=2
final_df.loc[(final_df['V2021']==5) | (final_df['V2021']==6) | (final_df['V2021']==10),'V2021']=3
final_df.loc[(final_df['V2021']==4) | (final_df['V2021']==8) | (final_df['V2021']==11),'V2021']=4
final_df.loc[(final_df['V2021']==7) | (final_df['V2021']==12) | (final_df['V2021']==98),'V2021']=98
final_df['V2021'].value_counts()

V2021
1     482453
3      14268
4       5440
99      4873
98      2841
2        519
Name: count, dtype: int64

In [16]:
#Recoding number of houses in structure 
# 1 ----> 1
# 2,3,4 ---> 2
# > 4 --> 3
# mobile ---> 4
# others and residue ---> 98
final_df.loc[(final_df['V2024']>1) & (final_df['V2024']<4),'V2024']=2
final_df.loc[(final_df['V2024']==5) | (final_df['V2024']==6) ,'V2024']=3
final_df.loc[(final_df['V2024']==7),'V2024']=4
final_df.loc[(final_df['V2024']==8) | (final_df['V2024']==98),'V2024']=98



final_df['V2024'].value_counts()

V2024
1     226093
99    205180
3      52703
2      16692
4       9369
98       357
Name: count, dtype: int64

In [17]:
final_df['SC214A'].value_counts()

SC214A
13    90712
15    68779
16    60031
12    47345
18    29554
11    28817
10    28310
17    27558
8     24759
9     23947
1     16649
4     12017
5     11535
7     10898
6     10488
3      8550
2      5572
99     4873
Name: count, dtype: int64

In [18]:
#Recoding Household income as 
# 1 - <30000
# 2 - 30000 - 75000
# 3 - 75000 - 100000
# 4 - >100000
final_df.loc[(final_df['V2026']>=1) & (final_df['V2026']<=9),'V2026']=1
final_df.loc[(final_df['V2026']>=10) & (final_df['V2026']<=13) ,'V2026']=2
final_df.loc[(final_df['V2026']==14) | (final_df['V2026']==15),'V2026']=3
final_df.loc[(final_df['V2026']>=16) & (final_df['V2026']<=18),'V2026']=4
final_df['V2026'].value_counts()

V2026
98    235104
2     106041
1      66743
4      64723
3      37783
Name: count, dtype: int64

In [19]:
#Recoding principal person age as
# <= 17 - 1
# >17 - <=30 - 2
# >30 - <=65 - 3
# >65 - <=98 - 4
final_df.loc[(final_df['V2033']>=1) & (final_df['V2033']<=17),'V2033']=1
final_df.loc[(final_df['V2033']>17) & (final_df['V2033']<=30) ,'V2033']=2
final_df.loc[(final_df['V2033']>30) & (final_df['V2033']<=65),'V2033']=3
final_df.loc[(final_df['V2033']>65) & (final_df['V2033']<=98),'V2033']=4
final_df['V2033'].value_counts()

V2033
99    205180
3     186677
4      79060
2      39190
1        287
Name: count, dtype: int64

In [20]:
#Creating new variable Change_Var_Stat based on whether their marital status changes from previous survey to current
#1 - same marital status
#2 - different marital status
print(np.sum(final_df['V2034']==final_df['V2035'])/len(final_df))
final_df['Mar_Stat_Change'] = final_df.apply(lambda row: 1 if row['V2034'] == row['V2035'] else 2, axis=1)
final_df.drop('V2035',axis=1,inplace=True)
final_df['Mar_Stat_Change'].value_counts()

0.8308110988765542

Mar_Stat_Change
1    424041
2     86353
Name: count, dtype: int64

In [21]:
#Recoding principal person educational attaiment
# <=8 - 1 - elementary
# 9 - 12 and 27, 28 - high school
# 21 - 26, 40 - 45 - college

final_df.loc[(final_df['V2038']<=8),'V2038']=1
final_df.loc[(final_df['V2038']>=9) & (final_df['V2038']<=12),'V2038']=2
final_df.loc[(final_df['V2038']==27) | (final_df['V2038']==28),'V2038']=2
final_df.loc[(final_df['V2038']>=21) & (final_df['V2038']<=26),'V2038']=3
final_df.loc[(final_df['V2038']>=40) & (final_df['V2038']<=45),'V2038']=3
final_df['V2038'].value_counts()

V2038
99    205180
3     196802
2      95440
1       8561
98      4411
Name: count, dtype: int64

In [22]:
final_df['V2071'].median()

3.0

In [23]:
#Recoding number of people 12 years or older in house into 
# less than or equal to 3 - 1
# more than that or equal to three - 2
final_df.loc[(final_df['V2071']<=3),'V2071']=1
final_df.loc[(final_df['V2071']>3) & (final_df['V2071']<98),'V2071']=2
final_df['V2071'].value_counts()

V2071
1     280991
99    205180
2      24223
Name: count, dtype: int64

In [24]:
final_df['V2072'].median()
#Recoding number of people in house into 
# less than or equal to 1 - 1
# more than that - 2
final_df.loc[(final_df['V2072']<=1),'V2072']=1
final_df.loc[(final_df['V2072']>1) & (final_df['V2072']<98),'V2072']=2
final_df['V2072'].value_counts()

V2072
1     280325
99    205180
2      24889
Name: count, dtype: int64

In [25]:
#Including non-interview under Residue
final_df.loc[(final_df['V2076']==3),'V2076']=8

In [26]:
final_df['V2078'].value_counts()

V2078
9    205180
2    108531
1     94464
3     44730
4     34021
0     21777
8      1691
Name: count, dtype: int64

In [27]:
#Including non-interview under Residue
final_df.loc[(final_df['V2079']==3),'V2079']=8

In [28]:
final_df['V2119'].value_counts()

V2119
2    300439
9    205180
1      4735
8        40
Name: count, dtype: int64

In [29]:
#Recoding place size as 
# 0 - not in a place
# 1 - less than 10000
# 2 - 10000 - 1000000
# 3 - >1000000
final_df.loc[(final_df['V2126B']==13),'V2126B'] = 1
final_df.loc[(final_df['V2126B']>13) & (final_df['V2126B']<=20),'V2126B']=2
final_df.loc[(final_df['V2126B']>20),'V2126B']=3
final_df['V2126B'].value_counts()

V2126B
2    264906
0    138878
1     78996
3     27614
Name: count, dtype: int64

#Columns to delete based on context

V2002 - Can get this info from IDHH
V2003 - Can get this from YEARQ
V2004, V2005, V2008, V2010, V2011, V2012, V2013, V2023, V2030, V2072A, V2109, V2111, V2112, V2113, V2114, V2117, V2118,V2123, V2124, V2130, V2131, V2134, TIS, ADDR_TIS, TIS, ADDR_TIS, HH_TIS, HHINTVNUM, TYPEINTV_TIS1,TYPEINTV_TIS2, TYPEINTV_TIS3, TYPEINTV_TIS4, HHBOUNDED, VFLAG - Related to Interview/survey
V2014, V2016, V2020, V2026, V2116 - Using the most updated columns
V2143 - Can get this info from V2017
V2032, V2041, V2043, V2044, V2045, V2047, V2049A, V2050, {V2122(Family structure) - uses reference person}, V2133, V2135, V2136, V2137, V2138, V2139, V2140, V2141, V2142 - Info related to Reference person and others..... Principal person is the person being interviewed. We don't need reference person, as they are just the person who can vouch for the principal person

In [30]:
final_df

,YEAR,YEARQ,IDHH,V2002,V2003,V2004,V2005,V2006,V2008,V2010,...,ADDR_TIS,HH_TIS,HHINTVNUM,TYPEINTV_TIS1,TYPEINTV_TIS2,TYPEINTV_TIS3,TYPEINTV_TIS4,HHBOUNDED,VFLAG,Mar_Stat_Change
0,2019,2019.1,1602000258133680568236117,2,191,16,2.000258e+18,1,17,9,...,5,5,0,2,2,2,2,0,9,1
1,2019,2019.1,1602000258163682568236111,2,191,16,2.000258e+18,1,11,9,...,4,4,1,2,1,2,2,0,9,1
2,2019,2019.1,1602000258359426568236117,2,191,16,2.000258e+18,1,17,9,...,5,5,2,1,2,2,1,1,9,1
3,2019,2019.1,1602000258683621568236111,2,191,16,2.000259e+18,1,11,1,...,4,4,4,1,1,1,1,1,1,1
4,2019,2019.1,1602000265134680568236117,2,191,16,2.000265e+18,1,17,1,...,5,5,3,2,2,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510389,2021,2021.4,2095986865027937564558151,64192,214,20,NaN,1,51,9,...,2,2,0,2,2,9,9,0,9,1
510390,2021,2021.4,2095986865192721564558142,64193,214,20,NaN,1,42,9,...,1,1,0,2,9,9,9,0,9,1
510391,2021,2021.4,2095986865412780564558142,64194,214,20,NaN,1,42,9,...,1,1,0,2,9,9,9,0,9,1
510392,2021,2021.4,2095986865413466564558161,64195,214,20,NaN,1,61,1,...,2,2,2,1,1,9,9,1,1,1
510393,2021,2021.4,2095986865415313564558141,64196,214,20,NaN,1,41,9,...,2,2,1,1,2,9,9,1,9,1

In [31]:
#removing all the unnecessary columns due to above reasons
col_rem = ['V2002', 'V2003', 'V2004', 'V2005', 'V2008', 'V2010', 'V2011', 'V2012', 'V2013', 'V2023', 'V2030', 'V2072A', 'V2109', 'V2111', 'V2112', 'V2113', 'V2114', 'V2117', 'V2118', 'V2123', 'V2124', 'V2130', 'V2131', 'V2134', 'TIS', 'ADDR_TIS', 'HH_TIS', 'HHINTVNUM', 'TYPEINTV_TIS1', 'TYPEINTV_TIS2', 'TYPEINTV_TIS3', 'TYPEINTV_TIS4', 'HHBOUNDED', 'VFLAG', 'V2014', 'V2016', 'V2020', 'V2026', 'V2116', 'V2143', 'V2032', 'V2041', 'V2043', 'V2044', 'V2045', 'V2047', 'V2049A', 'V2050', 'V2122', 'V2133', 'V2135', 'V2136', 'V2137', 'V2138', 'V2139', 'V2140', 'V2141', 'V2142']
final_df.drop(col_rem,axis=1,inplace=True)
final_df

,YEAR,YEARQ,IDHH,V2006,V2015,V2017,V2019,V2021,V2022,V2024,...,WGTHHCY,V2119,V2121B,V2125,V2126B,V2127B,V2128B,V2129,V2132,Mar_Stat_Change
0,2019,2019.1,1602000258133680568236117,1,9,1,8,1,9,99,...,0.00000,9,9,1,2,1,1,1,9,1
1,2019,2019.1,1602000258163682568236111,1,9,1,8,1,9,99,...,0.00000,9,2,1,2,1,1,2,9,1
2,2019,2019.1,1602000258359426568236117,1,9,1,8,1,9,99,...,0.00000,9,2,1,2,1,1,2,9,1
3,2019,2019.1,1602000258683621568236111,1,1,1,8,1,1,1,...,711.15909,2,2,1,0,1,1,2,4,1
4,2019,2019.1,1602000265134680568236117,1,1,1,8,1,8,1,...,949.70003,2,2,1,2,1,1,2,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510389,2021,2021.4,2095986865027937564558151,1,9,1,8,1,9,99,...,0.00000,9,8,1,2,3,1,2,9,1
510390,2021,2021.4,2095986865192721564558142,1,9,1,8,1,9,99,...,0.00000,9,8,1,2,3,1,1,9,1
510391,2021,2021.4,2095986865412780564558142,1,9,1,8,1,9,99,...,0.00000,9,8,1,2,3,1,1,9,1
510392,2021,2021.4,2095986865413466564558161,1,2,1,8,1,1,3,...,1404.11284,2,2,1,2,3,1,2,4,1
510393,2021,2021.4,2095986865415313564558141,1,9,1,8,1,9,99,...,0.00000,9,2,1,2,3,1,1,9,1

In [32]:
#We don't want entries with missing Race
final_df=final_df[~(final_df['V2040A']==99)]

In [33]:
final_df['V2040A'].value_counts()

V2040A
1     248021
2      34995
4      15092
3       1938
7       1521
6       1121
5        894
8        662
10       292
15       188
9        175
14        65
11        63
19        43
18        33
16        32
12        30
13        19
20        15
17        15
Name: count, dtype: int64

In [34]:
#Separating Asian and Non Asian populations
final_df['V2040A_new'] =((final_df['V2040A'].isin([4, 8, 11, 13, 14, 16, 18]))).astype(int)
final_df['V2040A_new'].value_counts()

/var/folders/gy/_22s087n05x34qr96kx8c9380000gn/T/ipykernel_3372/643956881.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['V2040A_new'] =((final_df['V2040A'].isin([4, 8, 11, 13, 14, 16, 18]))).astype(int)

V2040A_new
0    289248
1     15966
Name: count, dtype: int64

In [35]:
final_df.drop('V2040A',axis=1,inplace=True)

/var/folders/gy/_22s087n05x34qr96kx8c9380000gn/T/ipykernel_3372/3338331007.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop('V2040A',axis=1,inplace=True)

In [36]:
#Retaining only the first occurences of each household in 2019 and the last occurence of each household in 2021.
filtered_df_19= final_df[final_df['YEAR']==2019].dropna()
filtered_df_19.drop(['YEAR','YEARQ'],axis=1,inplace=True)
filtered_df_first = filtered_df_19.drop_duplicates(subset=['IDHH'], keep='first')
filtered_df_first

,IDHH,V2006,V2015,V2017,V2019,V2021,V2022,V2024,V2025A,V2025B,...,V2119,V2121B,V2125,V2126B,V2127B,V2128B,V2129,V2132,Mar_Stat_Change,V2040A_new
3,1602000258683621568236111,1,1,1,8,1,1,1,2,2,...,2,2,1,0,1,1,2,4,1,0
4,1602000265134680568236117,1,1,1,8,1,8,1,2,2,...,2,2,1,2,1,1,2,4,1,0
5,1602000265524673568236111,1,2,1,8,1,8,3,2,2,...,2,2,1,0,1,1,2,4,2,0
7,1602000284684650568236131,1,1,1,8,1,1,1,2,2,...,2,2,1,1,1,1,2,4,1,0
9,1602001365023692568234121,1,2,1,8,1,1,3,1,1,...,2,2,1,2,1,1,1,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253890,3095974165527126564957146,1,1,1,8,1,8,1,2,2,...,2,2,1,2,3,1,2,4,1,0
253894,3095974692688063564921266,2,2,1,8,1,8,3,2,2,...,2,2,1,2,3,1,1,4,2,0
253897,3095975292361936564974156,1,1,1,8,1,1,1,2,2,...,2,2,1,2,3,1,1,4,1,0
253922,3095984625460612564521146,1,1,1,8,1,1,3,1,1,...,2,2,1,2,3,1,2,4,1,0
253926,3095985225416963564574266,2,2,1,8,1,8,3,2,2,...,2,2,1,2,3,1,1,4,2,0

In [37]:
filtered_df_21= final_df[final_df['YEAR']==2021].dropna()
filtered_df_21.drop(['YEAR','YEARQ'],axis=1,inplace=True)
filtered_df_last = filtered_df_21.drop_duplicates(subset=['IDHH'], keep='last')
filtered_df_last

,IDHH,V2006,V2015,V2017,V2019,V2021,V2022,V2024,V2025A,V2025B,...,V2119,V2121B,V2125,V2126B,V2127B,V2128B,V2129,V2132,Mar_Stat_Change,V2040A_new
253935,1710051365368092564934132,1,2,1,8,1,1,1,2,2,...,2,2,1,2,2,1,1,0,1,0
253939,1710053965345403564944112,1,1,1,8,1,1,1,2,2,...,2,2,1,1,2,1,2,4,1,0
253944,1710061633593894565645132,1,1,2,1,1,1,1,2,2,...,2,2,2,0,2,1,3,4,1,0
253946,1710063503415508565638122,1,1,2,2,1,1,1,2,2,...,2,2,2,0,2,1,2,4,1,0
253948,1710063903563823565644122,1,1,2,2,1,1,1,2,2,...,2,2,2,1,2,1,3,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510383,2095985258821661564599251,2,2,1,8,1,8,3,2,2,...,2,2,1,0,3,1,2,4,2,0
510385,2095985292197901564599161,1,1,1,8,1,1,1,2,2,...,2,2,1,0,3,1,2,4,1,0
510387,2095986815130602564558151,1,1,1,8,1,1,1,2,2,...,2,2,1,2,3,1,2,4,1,0
510388,2095986858361551564558142,1,1,1,8,1,1,1,2,2,...,2,2,1,2,3,1,2,4,2,0
510392,2095986865413466564558161,1,2,1,8,1,1,3,2,2,...,2,2,1,2,3,1,2,4,1,0

In [38]:
#we don't need entries with missing crime records
filtered_df_first=filtered_df_first[~(filtered_df_first['V2073']==99)]
filtered_df_last=filtered_df_last[~(filtered_df_last['V2073']==99)]

In [39]:
filtered_df_first

,IDHH,V2006,V2015,V2017,V2019,V2021,V2022,V2024,V2025A,V2025B,...,V2119,V2121B,V2125,V2126B,V2127B,V2128B,V2129,V2132,Mar_Stat_Change,V2040A_new
3,1602000258683621568236111,1,1,1,8,1,1,1,2,2,...,2,2,1,0,1,1,2,4,1,0
4,1602000265134680568236117,1,1,1,8,1,8,1,2,2,...,2,2,1,2,1,1,2,4,1,0
5,1602000265524673568236111,1,2,1,8,1,8,3,2,2,...,2,2,1,0,1,1,2,4,2,0
7,1602000284684650568236131,1,1,1,8,1,1,1,2,2,...,2,2,1,1,1,1,2,4,1,0
9,1602001365023692568234121,1,2,1,8,1,1,3,1,1,...,2,2,1,2,1,1,1,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253890,3095974165527126564957146,1,1,1,8,1,8,1,2,2,...,2,2,1,2,3,1,2,4,1,0
253894,3095974692688063564921266,2,2,1,8,1,8,3,2,2,...,2,2,1,2,3,1,1,4,2,0
253897,3095975292361936564974156,1,1,1,8,1,1,1,2,2,...,2,2,1,2,3,1,1,4,1,0
253922,3095984625460612564521146,1,1,1,8,1,1,3,1,1,...,2,2,1,2,3,1,2,4,1,0
253926,3095985225416963564574266,2,2,1,8,1,8,3,2,2,...,2,2,1,2,3,1,1,4,2,0

In [40]:
filtered_df_last

,IDHH,V2006,V2015,V2017,V2019,V2021,V2022,V2024,V2025A,V2025B,...,V2119,V2121B,V2125,V2126B,V2127B,V2128B,V2129,V2132,Mar_Stat_Change,V2040A_new
253935,1710051365368092564934132,1,2,1,8,1,1,1,2,2,...,2,2,1,2,2,1,1,0,1,0
253939,1710053965345403564944112,1,1,1,8,1,1,1,2,2,...,2,2,1,1,2,1,2,4,1,0
253944,1710061633593894565645132,1,1,2,1,1,1,1,2,2,...,2,2,2,0,2,1,3,4,1,0
253946,1710063503415508565638122,1,1,2,2,1,1,1,2,2,...,2,2,2,0,2,1,2,4,1,0
253948,1710063903563823565644122,1,1,2,2,1,1,1,2,2,...,2,2,2,1,2,1,3,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510383,2095985258821661564599251,2,2,1,8,1,8,3,2,2,...,2,2,1,0,3,1,2,4,2,0
510385,2095985292197901564599161,1,1,1,8,1,1,1,2,2,...,2,2,1,0,3,1,2,4,1,0
510387,2095986815130602564558151,1,1,1,8,1,1,1,2,2,...,2,2,1,2,3,1,2,4,1,0
510388,2095986858361551564558142,1,1,1,8,1,1,1,2,2,...,2,2,1,2,3,1,2,4,2,0
510392,2095986865413466564558161,1,2,1,8,1,1,3,2,2,...,2,2,1,2,3,1,2,4,1,0

In [41]:
filtered_df_first.to_csv('df_2019.csv')
filtered_df_last.to_csv('df_2021.csv')

In [42]:
#Some other analysis to understand crimes at each household level for Asians vs. Non-Asians

In [43]:
merged=filtered_df_first[['IDHH','V2073','V2040A_new']].merge(filtered_df_last[['IDHH','V2073','V2040A_new']],on='IDHH')

In [44]:
merged

                            IDHH  V2073_x  V2040A_new_x  V2073_y  V2040A_new_y
0      1710051365368092564934132        0             0        0             0
1      1710053925458004564944133        0             0        0             0
2      1710053965345403564944112        0             0        0             0
3      1710053965525445564944113        0             0        0             0
4      1710056865828005564956123        0             0        0             0
...                          ...      ...           ...      ...           ...
34993  1894995292397456563232165        0             0        0             0
34994  1894995299365283563232145        0             0        0             0
34995  1894996825392619563256155        0             0        0             0
34996  1894996884024747563256155        0             0        0             0
34997  1894996899025247563256165        0             0        0             0

[34998 rows x 5 columns]

In [45]:
#We only want to consider the cases where the race of the primary person doesn't change
merged=merged[merged['V2040A_new_x']==merged['V2040A_new_y']]

In [46]:
merged.drop(['V2040A_new_y'],axis=1,inplace=True)

/var/folders/gy/_22s087n05x34qr96kx8c9380000gn/T/ipykernel_3372/3056448626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged.drop(['V2040A_new_y'],axis=1,inplace=True)

In [47]:
merged

                            IDHH  V2073_x  V2040A_new_x  V2073_y
0      1710051365368092564934132        0             0        0
1      1710053925458004564944133        0             0        0
2      1710053965345403564944112        0             0        0
3      1710053965525445564944113        0             0        0
4      1710056865828005564956123        0             0        0
...                          ...      ...           ...      ...
34993  1894995292397456563232165        0             0        0
34994  1894995299365283563232145        0             0        0
34995  1894996825392619563256155        0             0        0
34996  1894996884024747563256155        0             0        0
34997  1894996899025247563256165        0             0        0

[34906 rows x 4 columns]

In [48]:
merged['V2040A_new_x'].value_counts()

V2040A_new_x
0    33235
1     1671
Name: count, dtype: int64

In [49]:
merged_dec = merged[merged['V2073_x']>merged['V2073_y']]
merged_dec
#This indicates that 5.93% of the people who were interviewed across both the years 2019 and 2021 have seen a decrease in crime.

                            IDHH  V2073_x  V2040A_new_x  V2073_y
12     1710070215415358564532132        3             0        0
21     1710071665021892564545112        1             1        0
51     1710074608685330564582112        1             1        0
55     1710074658359658564582113        2             0        0
64     1710076825396970564556113        1             0        0
...                          ...      ...           ...      ...
34941  1894921392414449564434145        2             0        0
34952  1894925215469217564432165        1             0        0
34970  1894956808694462564456155        1             0        0
34972  1894990299322478563236165        1             0        0
34985  1894993599462670563238155        1             0        0

[2071 rows x 4 columns]

In [50]:
merged_dec['V2040A_new_x'].value_counts()
#This indicates that the crimes decrease in the case of only 5.3% population of Asians, whereas the same number for non-Asians is 6%.
#The number for Asians is clearly lesser than the number for the overall population, which is 5.93%.

V2040A_new_x
0    1983
1      88
Name: count, dtype: int64

In [51]:
merged_inc=merged[merged['V2073_x']<merged['V2073_y']]
#This indicates that 2.62% of the people who were interviewed across both the years 2019 and 2021 have seen an increase in crime.

In [52]:
merged_inc['V2040A_new_x'].value_counts()
#This indicates that the crimes increase in the case of 3.3% population of Asians, whereas the same number for non-Asians is 2.59%. 
#The number for Asians is clearly greater than the number for the overall population, which is 2.62%.

V2040A_new_x
0    861
1     55
Name: count, dtype: int64

#Both the above numbers clearly indicate that the crimes against Asians have increased between the years 2019 and 2021.